nav#main-nav-bar{
	background: #000;
}

body{
	background: #141414;
	color: #FFFFFF;
}

/* NAVBAR */

.navbar-default, .current-queue-inner, .navbar-inverse  .navbar-header>a:hover, .navbar-inverse  .navbar-nav>.active>a:hover{
	background-color: #232323;
}

.navbar-default .volumebar .bufbar, .navbar-default .timebar  .bufbar{
	background: #707070;
}

.navbar-default .volumebar .slidebar{
	background: #FFFFFF;
}

.navbar-default .timebar  .slidebar{
	background: #0ff;
}

.navbar-default .timebar .badge-timer {
	background: #111;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-header .navbar-brand>a:hover{
	background-color: #232323;
}

.navbar-default .glyphicon, ul.player-controls{
	color: #FFFFFF;
}

.navbar-default .glyphicon:hover, ul.player-controls:hover{
    color: #A5A5A5;
}

.navbar-inverse .navbar-nav>.active>a:after{
    border-color: transparent transparent #232323;
}

/* CONTENT */

#content hr{
	border-top: 1px solid #111111;
}

#content .cover{
	border-radius: 1px;
}

#content #album-expended{
	background-color: #232323;
}

.action-expend.active:after{
    border-color: transparent transparent #232323;
}

#content table tr:hover, #content table tr.on-air{
	background: #282828;
}

/* OTHER */
.list-group-item:first-child, .list-group-item:last-child, .panel{
	border-radius: 0px;
}

.list-group-item, .panel{
	border-color: #111;
}

.list-group li, .panel-body, .panel-footer{
	background : #232323;
	border-radius: 0px;
}

.panel-default .panel-heading{
	background-color: #232323;
	color: #FFFFFF;
	border-radius: 0px;
	border-color: #111;
}

.panel-header, .panel-body, .panel-footer{
	border-color: #111;
}

ul.pagination{
	visibility: hidden;
}

.btn, .form-control{
	border-radius: 0px;
}

.form-control{
	background: #232323 !important;
	border:none;
	box-shadow: none;
	color: white;
}

.selecter-selected, .selecter-item, .selecter-options{
	background: #232323 !important;
	border-color: #111;
	box-shadow: none;
	color: white;
}

.form-control:focus{
	box-shadow: none;
}

.btn-default, .btn-default:focus, .btn-success, .btn-success:focus{
	background: #222222;
	border-color: #5A5A5A;
	color: white;
}

.btn-default:hover, .btn-success:hover{
	background: #222222;
	border-color: #A5A5A5;
	color: white;
}

.modal-header, .modal-body, .modal-footer{
	background : #141414;
}

.modal-header, .modal-body, .modal-footer{
	border-color: #111;
}

.progress, .search-input:focus{
	border-radius: 0px;
}

